.wide-area img {
    width: 100%;
}

.wide-area .blog-post-image-caption {
    font-style: italic;
    color: #888888;
    width: 100%;
    text-align: right;

    padding: 0px;
    margin: 0px 0px 8px 0px;
}

.headline {
    font-size: 56px;
    padding: 0px;
    margin: 32px 0px;
    line-height: 64px;
}

.narrow-area img {
    max-width: 100%;
}

#blog-post-content-area {
    text-align: left;
}


#blog-post-author-container span {
    font-weight: bold;
}

#blog-post-date-container span {
    color: #888888
}

#blog-post-share-button {
    margin-top: 4px;
}