/* Default styles */


:root {
    --accent-color: #0070BA;
    --lightGray: #EEEEEE;
}

.spacer {
    height: 24px;
}

.mobileonly {
    display: none;
}

html {
    overflow-x: hidden;
}

body {
    transition: margin 200ms ease;

    margin: 0 0 0 0;
    padding: 0;

    font: 20px acumin-pro, -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;

    overflow-x: hidden;
}

.bodyshifted {
    margin: 0 0 0 300px;
}

#bodyarea {
    width: 100%;
}

#body-container {
    width: 80vw;
    margin: 0 auto;
}

.separator {
    height: 2px;
    background-color: var(--accent-color);
}

@media (max-width: 1300px) {
    #body-container {
        width: 90vw;
    }
}

@media (max-width: 1100px) {
    #body-container {
        width: 95vw;
    }
}

/* Support styles */
.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* #region HEADER */

header {
    text-align:center;
}

/* #endregion */


/* #region Logo Area */

#logo-container {
    margin: 16px 0;
    width: auto;
    overflow: hidden;
    display: inline-block;
}

#header-logo-text {
    display: inline-block;
    margin: 0 0 0 12px;
    vertical-align: middle;
    color: #333333;
    height: 41px;
}

#header-logo {
    display: inline-block;
    vertical-align: middle;
    height: 150px;
}

/* #endregion */

/* Date */

#date-container {
    height: 30px;
    text-align: center;
    width: 100%;
    margin: -30px 0 16px 0;
}

/* #region Navigation */

#navigation {
    height: 50px;

    border-style: solid;
    border-width: 2px 0;
    border-radius: 0;
    border-color: var(--accent-color);

    margin: 0 auto;

    text-align: center;
}

.navigation-desktop {
    display: inline-block;

    list-style-type: none;
    padding: 0;
    overflow: hidden;

    font: bold 22px acumin-pro, Arial, Helvetica, sans-serif;
    margin: -2px 0 0 0;
}

.navigation-desktop li {
    float: left;
}

.nav-border {
    position: relative;
    width: 2px;
    float: right;
    margin-top: 16px;
    height: 24px;
    background-color: black;
}

.navigation-desktop li a {
    transition: border-color 80ms;

    display: block;
    color: black;
    text-align: center;
    margin: 10px 24px 0 24px;
    text-decoration: none;

    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: transparent;
}

.navigation-desktop li a:hover {
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: black;
}

/* #endregion */

/* #region Top nav */

#topbar {
    transition: all 200ms ease-in-out;

    border-color: #d1d1d1;
    background-color: white;

    border-width: 0 0 2px 0;
    border-style: solid;
    height: 56px;
    width: 100vw;

    position: fixed;

    z-index: 999;

    text-align: center;
}

#topbar-nav {
    margin-top: 1px;
}

.top-desktop-visible {
    top: 0;
}

.top-desktop-hidden {
    top: -58px;
}

#topbar-hssc-logo {
    height: 48px;
    margin: 4px;
    float: right;
}

#hamburger-container {
    cursor: hand;
    width: 30px;
    margin: 16px 12px;
}

.hamburger-bar {
    position: relative;

    height: 4px;
    margin: 6px 0;
    width: 100%;

    background-color: rgb(41, 41, 41);
}

/* #region side navigation */

#navigation-side {
    display: block;
    width: 300px;
    margin-left: -300px;
    height: 100vh;

    position: fixed;
    top: 0;

    background: rgb(238, 238, 238);
}

/* #endregion */

/* #endregion */

/* #region FOOTER */

footer {
    background-color: var(--lightGray);
    height: 128px;

    position: absolute;

    overflow: hidden;
}



#footer-hssc-logo {
    height: 72px;
}

#footer-logo-container {
    margin-top: 12px;
}

#footer-logo-container * {
    display: inline-block;
    vertical-align: middle;
}

#footer-logo-container span {
    margin: 0 0 6px 12px;
}

#footer-color-filler {
    background-color: var(--lightGray);
    height: 128px;

    position: absolute;

    left: 0;
    width: 100%;
}

/* #endregion */

/* when it is not wide enough to display the hssc text */

@media (max-width: 1150px) {

    #header-logo-text {
        display: none;
    }

    #date-container {
        margin-top: 4px;
    }

}

/* MOBILE */

@media (max-width: 600px) {

    #bodyarea {
        width: 100%;
        float: left;
    }

    #body-container {
        margin-top: 56px;
    }

    #nagiation-top {
        top: 0 !important;
        display: block !important;
    }

    .top-desktop-hidden {
        top: 0;
        opacity: 1;
    }

    #headerLogoText {
        display: none;
    }

    #navigation {
        display: none;
    }

    .mobileonly {
        display: block;
    }

    .desktoponly {
        display: none;
    }
    
}